# Core ML Libraries (Compatible with Python 3.10)
torch==1.13.1+cpu
pytorch-lightning==1.9.5
pytorch-forecasting==1.0.0
torchmetrics==0.11.4

# Core Data Tools
pandas==1.5.3
numpy==1.23.5
scikit-learn==1.2.2
matplotlib==3.7.1

# Lightning loggers & early stopping
tensorboard==2.12.3
lightning-utilities==0.9.0
optuna==3.1.1

# CSV + datetime parsing
pyarrow==11.0.0

# CLI compatibility
tqdm==4.65.0

dotenv==0.9.9